<div class="container">

  <div class="row my-4 ml-5">
    <h2>マイページ</h2>
  </div>

  <div class="row">
    <div class="d-flex justify-content-between align-items-center col-3">
      <h3><strong>登録情報</strong></h3>
      <p><%= link_to " 編集する", customers_information_edit_path(@customer), class: "btn btn-success" %></p>
    </div>
  </div>

  <div class="row">
    <table class="table table-bordered col-8 mt-4">
      <tbody>
        <tr>
          <th style="width: 20%">氏名</th>
          <td style="width: 80%"><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th style="width: 20%">カナ</th>
          <td style="width: 80%"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th style="width: 20%">メールアドレス</th>
          <td style="width: 80%"><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>




</div>