<div class="contener">
  <div class="row my-4">
   <h2 class="bg-light text-center col-4"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
  </div>
 <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
<div class="d-flex justify-content-start col-10">
  <p class="col-2">会員ID</p>
  <p class="col"><%= @customer.id %></p>
</div>

<div class="d-flex justify-content-start col-10">
  <p class="col-2">氏名</p>
  <p class="col-2"><%= f.text_field :last_name, class: "form-control input-md"  %></p>
  <p class="col-2"><%= f.text_field :first_name, class: "form-control input-md"  %></p>
</div>

<div class="d-flex justify-content-start col-10">
  <p class="col-2">フリガナ</p>
  <p class="col-2"><%= f.text_field :last_name_kana, class: "form-control input-md"  %></p>
  <p class="col-2"><%= f.text_field :first_name_kana, class: "form-control input-md"  %></p>
</div>

<div class="d-flex justify-content-start col-10">
  <p class="col-2">メールアドレス</p>
  <p class="col-2"><%= f.email_field :email, class: "form-control input-md"  %></p>
</div>

<div class="d-flex justify-content-start col-10">
  <p class="col-2">会員ステータス</p>
  <p class="col-2">
    <%= f.radio_button :is_withdrawal, false %>
    <%= f.label :is_withdrawal, '有効', value: false %>
    <%= f.radio_button :is_withdrawal, true %>
    <%= f.label :is_withdrawal, '退会', value: true %>
  </p>

</div>
<div class="d-flex justify-content-start col-10 my-4">
  <p class="col-2"></p>
  <p class="col-2"><%= f.submit "編集を保存", class: "btn btn-success" %></p>
</div>
<% end %>
</div>